.btn{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 2px 20px;
    background-color:#962237;
    color: white;
    border: 0px;
    border-radius: 4px
}

table{
    font-size: 8px;
    color: white;
    border-collapse: collapse;
    margin-top: 20px;
}


th, td {
    border: 1px solid white;
    padding: 4px;
}

td select{
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    border: 0px;
    border-radius: 2px;
}

.red{
    background-color: rgb(242, 105, 105);
}